{% extends '/admin/base.html.twig' %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="col-6 grid-margin mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ user.name }}</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Nom :</label>
                                        <div class="col-sm-9">
                                            {{ user.name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Mot de passe :</label>
                                        <div class="col-sm-9">
                                            *********
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label pl-4">Photo :</label>
                                        <div class="col-sm-9">
                                            <img class="img-fluid img-thumbnail sizePictureTab"
                                                 src="/home/img/user/{{ user.img }}" alt="jef dc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('user_edit', {'id' : user.id}) }}">
                                <button type="submit" class="btn btn-success ml-3 mt-3">Éditer</button>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
