
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}
        <title>JefDc portfolio </title>
        <meta charset="UTF-8">
        <meta name="description" content="Jef De CONTI Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="shortcut icon"/>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="home/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="home/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="home/css/flaticon.css"/>
        <link rel="stylesheet" href="home/css/animate.css"/>
        <link rel="stylesheet" href="home/css/owl.carousel.css"/>
        <link rel="stylesheet" href="home/css/style.css"/>
        <link rel="stylesheet" href="home/css/style2.css"/>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <!-- Captcha -->

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="home/js/jquery-3.2.1.min.js"></script>
        <script src="home/js/bootstrap.min.js"></script>
        <script src="home/js/owl.carousel.min.js"></script>
        <script src="home/js/mixitup.min.js"></script>
        <script src="home/js/circle-progress.min.js"></script>
        <script src="home/js/main.js"></script>

        <!-- auto close message flash -->
        <script>
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                $("#success-alert").slideUp(1000);
            });
        </script>
    </body>
</html>
