{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible pl-2 offset-3" style="max-width: 50%" role="alert" id="success-alert">
                {{ message | raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

