{% block body %}
    <header class="header-section sp-pad">
        <h3 class="site-logo"></h3>
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="home/index.html">Home</a></li>
                <li><a href="home/about.html">about us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="home/portfolio.html">Portfolio</a></li>
                <li><a href="home/blog.html">Blog</a></li>
                <li><a href="home/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg sp-pad" data-setbg="home/img/hero-slider/1.jpg">
                <div class="hs-text">
                    <h2 class="hs-title">J.f De CONTI</h2>
                    <p class="hs-des">Développeur web<br>Php & Symfony</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}