{% block body %}
    <section class="services-section spad" id="soft">
        <div class="container-fluid services-warp">
            <div class="services-text">
                <div class="container p-0">
                    <span class="sp-sub-title">Amazing studio</span>
                    <h3 class="sp-title">see What we offer</h3>
                    <p>Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero malesuada feugiat. Praesent malesuada congue magna at finibus. In hac habi tasse platea dictumst. Curabitur rhoncus auctor eleifend.</p>
                    <a href="#" class="site-btn">Read More</a>
                </div>
            </div>
            <div class="container p-0">
                <div class="row">
                    <div class="col-xl-8 offset-xl-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="icon-box">
                                    <i class="flaticon-video-camera"></i>
                                    <h4>Video Footages</h4>
                                    <p>Suspendisse dictum enim sit amet libero feugiat. Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box">
                                    <i class="flaticon-photo-camera"></i>
                                    <h4>Photo Shootings</h4>
                                    <p>Congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna, eu pharetra arcu.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box">
                                    <i class="flaticon-safebox"></i>
                                    <h4>photo albums</h4>
                                    <p>Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero malesuada feugiat. Praesent malesuada congue magna at finibus. </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon-box">
                                    <i class="flaticon-idea"></i>
                                    <h4>Original ideas</h4>
                                    <p>Praesent malesuada congue magna at finibus. In hac habitasse platea dictumst. Curabitur rhoncus auctor eleifend. Fusce venenatis diam urna.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}