{% block body %}
    <section class="milestones-section spad">
        <div class="container">
            <div class="row">
                <div class="">
                   <h2 class="text-white competence">COMPÉTENCE</h2>
                </div>
            </div>
            <div class="row">
                {% for skill in skills %}
                    <div class="col-lg-3 col-md-6 fact-box mt-5">
                        <div class="text-center">
                            <img class="" src="/home/img/skill/{{ skill.img }}">
                            {#<h2>48</h2>#}
                            <p class="text-white m-4">{{ skill.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}