{% block body %}
    <section class="milestones-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 fact-box">
                    <div class="fact-content">
                        <i class="flaticon-gamepad"></i>
                        {#<h2>48</h2>#}
                        <p>VIDEO gAMES</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 fact-box">
                    <div class="fact-content">
                        <i class="flaticon-trophy"></i>
                        <h2>7</h2>
                        <p>AWARDS WON</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 fact-box">
                    <div class="fact-content">
                        <i class="flaticon-alarm-clock"></i>
                        <h2>23K</h2>
                        <p>Pictures taken</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 fact-box">
                    <div class="fact-content">
                        <i class="flaticon-laptop"></i>
                        <h2>19</h2>
                        <p>Video tutorials</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}