<!DOCTYPE html>

<title>Edit AboutUs</title>

{% block body %}
    <h1>Edit AboutUs</h1>

    {{ include('about_us/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('about_us_index') }}">back to list</a>

    {{ include('about_us/_delete_form.html.twig') }}
{% endblock %}
