<!DOCTYPE html>

<title>New AboutUs</title>

{% block body %}
    <h1>Create new AboutUs</h1>

    {{ include('about_us/_form.html.twig') }}

    <a href="{{ path('about_us_index') }}">back to list</a>
{% endblock %}
