<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="/admin/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/css/style.css">
    <link rel="stylesheet" href="/admin/css/style2.css">
</head>

<body>
    <div class="container-scroller">
        {% include 'admin/navbar.html.twig' %}
        <div class="container-fluid page-body-wrapper">
            {% include 'admin/sidebar.html.twig' %}
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </div>
    <script src="/admin/js/vendor.bundle.base.js"></script>
    <script src="/admin/js/vendor.bundle.addons.js"></script>
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/misc.js"></script>
    <script src="/admin/js/dashboard.js"></script>
</body>
</html>
