<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
            <p class="text-dark">
                Admin
            </p>
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.htmlde">
            <img src="images/logo-mini.svg" alt="logo" />
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-xl-inline-block">
                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <span class="profile-text">Bonjour, {{ app.user.name }} !</span>
                    <img class="img-xs rounded-circle" src="/home/img/user/{{ app.user.img }}" alt="Profile image">
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown p-1" aria-labelledby="UserDropdown">
                    <a class="dropdown-item" href="{{ path('user_show', {'id' : app.user.id}) }}">
                        <i class="mdi mdi-account-outline mr-0 text-gray mr-3"></i>
                        Compte
                    </a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="mdi mdi-logout-variant mr-0 text-gray mr-3"></i>
                        Déconnection
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>