<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav position-fixed">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                </div>
            </div>
        </li>
        <li class="nav-item mt-5">
            <a class="nav-link" href="index.html">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('intro_index') }}">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">Intro</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('about_us_index') }}">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">A propos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('portfolio_index') }}">
                <i class="menu-icon mdi mdi-xml"></i>
                <span class="menu-title">Portfolio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">Skill</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">Soft Skill</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <i class="menu-icon mdi mdi-email-outline"></i>
                <span class="menu-title">Message</span>
            </a>
        </li>
        {#<li class="nav-item">#}
            {#<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">#}
                {#<i class="menu-icon mdi mdi-content-copy"></i>#}
                {#<span class="menu-title">Basic UI Elements</span>#}
                {#<i class="menu-arrow"></i>#}
            {#</a>#}
            {#<div class="collapse" id="ui-basic">#}
                {#<ul class="nav flex-column sub-menu">#}
                    {#<li class="nav-item">#}
                        {#<a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                        {#<a class="nav-link" href="pages/ui-features/typography.html">Typography</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</li>#}
    </ul>
</nav>