<!DOCTYPE html>

<title>New SoftSkill</title>

{% block body %}
    <h1>Create new SoftSkill</h1>

    {{ include('soft_skill/_form.html.twig') }}

    <a href="{{ path('soft_skill_index') }}">back to list</a>
{% endblock %}
