<!DOCTYPE html>

<title>Edit Intro</title>

{% block body %}
    <h1>Edit Intro</h1>

    {{ include('intro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('intro_index') }}">back to list</a>

    {{ include('intro/_delete_form.html.twig') }}
{% endblock %}
