<!DOCTYPE html>

<title>New Intro</title>

{% block body %}
    <h1>Create new Intro</h1>

    {{ include('intro/_form.html.twig') }}

    <a href="{{ path('intro_index') }}">back to list</a>
{% endblock %}
