<!DOCTYPE html>

<title>New Skill</title>

{% block body %}
    <h1>Create new Skill</h1>

    {{ include('skill/_form.html.twig') }}

    <a href="{{ path('skill_index') }}">back to list</a>
{% endblock %}
